

:root{
background-color: white;
}

body{
        font-family: "Roboto"sans-serif; 
        color: #434455;   
        background-color: #FFFFFF;      
}

.link{
    text-decoration: none;
}

.list{
      list-style-type: none;
}
 
/* -------------HEADER--------------- */
  /* ---------logo-------- */

 .logofirst{
        color: var(--accent-color);
        text-decoration: none;
        font-family: "Raleway";
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        }
 .logosecond{
        color: var(--primary-black-color);
 }

 /* ---------Site nav-------- */

.site-nav .link {
    color: var(--text-main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  
  
  .site-nav .link.current {
        font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-align: left;
        color: #4D5AE5;
        color: #2E2F42;
  }
  .site-nav .link:hover,
  .site-nav .link:focus {
     color: var(--accent-color);
  } 
     
  .adres {
     text-decoration: none;
     color: var(--description-text-color);
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;  
  } 

   .adres.link:hover,
   .adres.link:focus {
   color: var(--secondary-accent-color);
   }


/* ---------  main -------- */
.button {
        cursor: pointer;
        font-family:"Roboto"sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background: #404BBF;


}

.button-hover
.button-focus: {


}
.sectionteam:{
background-color: #F4F4FD;
}
.bg{
        background-color: ;
}
        
        


.namecard{     

         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 1.2;
         letter-spacing: 0.02em;
         color: #2E2F42;
}


.appname{
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height:1.5;
        letter-spacing: 0.02em;
        color: #434455;

   }   
.footer-text {  
        
       
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        background: #F4F4FD;
}
               
.footlogo{

        font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 1.166;
        letter-spacing: 0.03em;
        background-color: #4D5AE5;
       

}


 .effect{

        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 0.02em;
        background: #FFFFFF;
 }


















   